* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 10px;
	background-color: lightblue;
	font-size: 16px;
	font-family: "Roboto", arial;
}

.logo-img {
	height: 35px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.sign-up {
	padding: 5px 40px 5px 40px; 
	width: 400px;
	background-color: white;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
}

.title {
	text-align: center;
	font-weight: 400;
	margin-bottom: 40px;
}

.search-label {
}

.search-field {
	display: block;
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 15px;
	width: 320px;
	border: 2px solid lightgrey;
	border-radius: 3px;
	font-size: 18px;
}

.button {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 320px;
	height: 55px;
	border: 2px;
	border-radius: 3px;
	background-color: lightgreen;
	font-size: 21px;
	color: white;
}

.recovery {
	padding: 5px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 15px;
}

.recovery a {
	color: grey;
}

.log-in {
	text-align: center;
	font-size: 16px;
	color: white;
	font-weight: 700;
}

.log-in a {
	color: white;
}